@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

:root {
    --FontePadrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonteTitulo: 'Passion One', cursive;
    --fonteCorpo: 'Sriracha', cursive;
}    

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--FontePadrao);
    font-size: 2.6vw;
}

header {
    background-color: black;
    color: white;
    padding: 50px 0;
    text-align: center;
}

header h1 {
    font-family: var(--fonteTitulo);
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 3em;
}

section {
    font-family: var(--fonteCorpo);
    padding: 15px;
}

section p {
    padding: 10px;
    max-width: fit-content;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

.bgCor {
    background-color: white;
}

.bgImg {
    box-shadow: inset 2px 2px 8px black;
    background-position: right center ;
    background-size: cover;
    background-attachment: fixed;
}

.bgImg p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5px;
    text-shadow: 1.5px 1.5px 3px black;
}

#img01 {
    background-image: url('../imagens/background001.jpg');
    
}

#img02 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: #000;
    color: white;
    font-size: .7em;
    text-align: center;
    padding: 5px 0;
}